<!-- views/inventory/vehicle-detail.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
    <div class="vehicle-detail-container">
        <div class="vehicle-detail">
            <%= vehicleHTML %>
        </div>
    </div>

    <!-- Optional: Add a footer or other global elements here -->
</body>
</html>
